body {
  background-color: #89caf3;
}

.game-container {
  display: grid;
  margin: auto;
  padding: 80px 0;
  color: rgb(43, 108, 184);
}

.game-grid {
  display: grid;
  margin: auto;
  padding: 10px 0;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 80px 80px 80px 80px;
  border: 5px solid;
  padding: 7px;

  /* width: 300px;
  height: 300px; */
}

/* .grid-button {
  width: 96px;
  height: 73px;
  border: 2px solid;
  box-sizing: border-box;
  padding: 20px;
} */

.center-grid {
  width: 50vw;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
